<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-10">
            Mi Puntaje
          </div>
          <div class="col-2">
            <button (click)="ngAfterViewInit()" class="btn btn-success btn-icon" type="button">
              <i class="nb-loop" ></i>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Grupos</th>
            <th scope="col">Octavos</th>
            <th scope="col">Cuartos</th>
            <th scope="col">Semis</th>
            <th scope="col">Final</th>
            <th scope="col">Totales</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of userData">
            <td>{{user.pointsfase1}}</td>
            <td>{{user.pointsfase2}}</td>
            <td>{{user.pointsfase3}}</td>
            <td>{{user.pointsfase4}}</td>
            <td>{{user.pointsfase5}}</td>
            <td>{{user.totalpoints}}</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>

  </div>
</div>
